* {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}

div {
    border-radius: 5px;
}

h1 {
    margin-top: 46px;
}

#header {
    height: 40px;
    width: 100%;
    background-color: #F1DA49;
    position: fixed;
    z-index: 1;
}

#footer {
    height: 50px;
    width: 100%;
    background-color: #F1DA49;
    clear: both;
    position: relative;
}

.left {
    height: 1015px;
    width: 45px;
    background-color: #729e2e;
    float: left;
    position: absolute;
}

.right {
    height: 1015px;
    width: 45px;
    background-color: #729e2e;
    float: right;
    position: inherit;
}

.stuff {
    display: inline-block;
    margin-top: 6px;
    margin-left: 88px;
    width: 75%;
    height: 1000px;
    text-align: center;
    text-align: center;
}

.profile {
    width: 200px;
    ;
    height: auto;
    align-content: center;
    border: 1px dotted #F1DA49;
    border-radius: 50%;
}

#name {
    font-family: Sacramento;
    float: right;
    margin-top: 10px;
    margin-right: 4%;
}

#list {
    display: table;
    margin: 0 auto 12px auto;
    text-align: left;
}

#file {
    text-align: center;
}

a {
    color: #D31145;
    font-weight: bold;
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
}

th {
    text-align: center;
}

@media only screen and (max-width: 430px) {

    .left,
    .right {
        display: none;
    }

    .stuff {
        width: 100%;
        margin-left: 10px;
        text-align: center
    }

}